@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-background text-foreground antialiased selection:bg-primary selection:text-white;
    }
}

@layer utilities {
    .glass-card {
        @apply bg-card backdrop-blur-md border border-card-border shadow-xl;
    }

    .glass-button {
        @apply bg-white/10 hover:bg-white/20 backdrop-blur-sm transition-all border border-white/10;
    }
}